:root {
    --background-color: #5a2829;
    --primary-color: #411c1c;
    --secondary-color: #D5C5AF;
    --text-color: white;
    --hover-background-color: #2e1414;
    --hover-text-color: #5a2829;
    --box-shadow-color: rgba(0, 0, 0, 0.2);
    --box-shadow-hover-color: rgba(0, 0, 0, 0.3);
    --carousel-shadow-color: rgba(0, 0, 0, 0.15);
    --text-shadow-color: rgba(0, 0, 0, 0.5);
    --contact-shadow-color: rgba(0, 0, 0, 0.4);
    --contact-shadow-hover-color: rgba(0, 0, 0, 0.6);
    --footer-background-color: #411c1c;
    --footer-hover-color: rgba(255, 255, 255, 0.8);
    --about-section-bg-color: var(--primary-color);
    --about-section-text-color: var(--text-color);
    --about-section-heading-border-color: var(--secondary-color);
    --section-transition-padding: clamp(2rem, 5vw, 4rem);
}

/*---------------------
  1. Reset & Base Styles
----------------------*/
html, body {
    background-color: var(--background-color);
    font-family: 'Open Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    scroll-behavior: smooth;
}

section {
    scroll-margin-top: 15vh; /* Adjust this value to match your navbar height */
}
  

body.no-scroll {
    overflow: hidden;
}

@media (min-width: 769px) {
    body.no-scroll {
        overflow: auto;
    }
}

/*---------------------
    2. Header & Navigation
----------------------*/
#navbar.full, #navbar.shrink {
    background: linear-gradient(to bottom right, var(--footer-background-color), var(--footer-background-color));
}

#navbar.full {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 18vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(8px);
    z-index: 1000;
    box-shadow: 0px 2px 20px var(--box-shadow-color);
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* Brand Logo */
#navbar.full .brand-logo {
    color: var(--text-color);
    text-align: center;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
}

#navbar.full .brand-logo h1 {
    margin: 0;
    padding: 0;
    font-size: clamp(3rem, 5vw, 3.5rem);
    letter-spacing: 1px;
}

/* Navigation Menu */
#navbar.full .navbar-menu {
    margin: 0;
    padding-bottom: 2vh;
    width: 100%;
    display: flex;
    justify-content: center;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
}

.navbar-menu-item a {
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    font-size: clamp(0.875rem, 2vw, 1rem);
}

.navbar-menu-item a::before {
    content: '';
    position: absolute;
    bottom: -2px; /* Position the line below the text */
    left: 0; 
    width: 0; 
    height: 2px; /* Thickness of the line */
    background-color: var(--secondary-color); /* Line color */
    z-index: -1; /* Keep it behind the text */
    transition-property: width;
    transition-duration: 0.4s;
    transition-timing-function: ease; /* Smooth animation */
}

.navbar-menu-item a:hover::before {
    width: 100%; /* Extend the line under the link */
}


.navbar-menu-items {
    display: flex;
    list-style-type: none;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

/* SHRINK */

#navbar.shrink {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    height: 15vh;
    backdrop-filter: blur(8px);
    z-index: 1000;
    box-shadow: 0px 2px 20px var(--box-shadow-color);
    gap: 1rem;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* Brand Logo */
#navbar.shrink .brand-logo {
    color: var(--text-color);
    margin-left: 20px;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    display: inline-block; /* Ensure border wraps around the text */
}

#navbar.shrink .brand-logo h1 {
    font-size: clamp(2rem, 4vw, 2.5rem);
    border: 2px solid var(--text-color); /* Add box-like border */
    padding: 0 1rem; /* Add padding inside the border */
    margin: 0; /* Remove default margin */
}

/* Navigation Menu */
#navbar.shrink .navbar-menu {
    display: flex;
    justify-content: center;
    margin-right: 20px;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
}


/* Order Now Button */
.navbar-menu-item .order-now {
    position: relative; /* Required for pseudo-element positioning */
    border-width: 2px;
    border-style: solid;
    border-color: var(--secondary-color);
    padding-top: 0.5rem;
    padding-right: 1.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    background-color: transparent; /* Initial background */
    color: var(--secondary-color);
    overflow: hidden; /* Ensure pseudo-element stays inside */
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease; /* Smooth color change for text */
}

.navbar-menu-item .order-now::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--secondary-color); /* Fill color */
    z-index: -1; /* Place behind the text */
    transition-property: width;
    transition-duration: 0.4s;
    transition-timing-function: ease; /* Smooth fill effect */
}

.navbar-menu-item .order-now:hover {
    color: var(--hover-text-color); /* Text color on hover */
}

.navbar-menu-item .order-now:hover::before {
    width: 100%; /* Expand the fill on hover */
}


/* Hamburger Menu */
.hamburger-menu {
    display: none;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%); /* Center vertically */
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 10;
    padding: 0;
}

.hamburger-menu span {
    width: 30px;
    height: 3px;
    background-color: var(--text-color);
    border-radius: 10px;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    position: relative;
    transform-origin: 1px;
}

/*---------------------
  3. Main Content
----------------------*/
.main-content {
    margin-top: clamp(100px, 20vw, 120px);
    font-family: 'Open Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--text-color);
    line-height: 1.6;
}

/* Hero Section */
.carousel {
    background: linear-gradient(to bottom, rgba(90, 40, 41, 0.9), rgba(65, 28, 28, 0.9)), var(--box-shadow-color);
    margin-top: 18vh;
    height: 82vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.carousel-slides {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.carousel-slides.active {
    opacity: 1;
}

.carousel-slides .carousel-text {
    display: none;
}

.carousel-slides.active .carousel-text {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--text-color);
    z-index: 1;
}

.carousel-text h2 {
    font-size: clamp(3.5rem, 8vw, 5rem);
    text-transform: uppercase;
    font-family: 'Arial Black', Gadget, sans-serif;
    margin-bottom: 0;
    text-shadow: 2px 2px 4px var(--text-shadow-color); /* Add shadow */
    color: var(--text-color);
}

.carousel-text h3 {
    font-size: clamp(1rem, 3vw, 1.5rem); /* Make h3 smaller */
    text-transform: uppercase;
    font-family: 'Arial Black', Gadget, sans-serif;
    margin-top: 0; /* Remove top margin */
    text-shadow: 1px 1px 3px var(--text-shadow-color); /* Add shadow */
    color: var(--text-color);
}

.carousel-slides img {
    display: none;
    object-fit: cover;
    filter: brightness(0.45);
}

.carousel-slides.active img {
    display: block;
}

.carousel-controls {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 20%;
}

.carousel-control {
    display: block;
    width: 10px;
    height: 10px;
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
    border-width: 3px;
    border-style: solid;
    border-color: var(--text-color);
    border-radius: 50%;
    margin-inline-start: 6px;
    margin-inline-end: 6px;
}

.carousel-control.active {
    background-color: var(--text-color);
}

.carousel-control:hover {
    cursor: pointer;
}

#about-section {
    background: linear-gradient(to bottom, rgba(65, 28, 28, 0.9), rgba(90, 40, 41, 0.9)), var(--about-section-bg-color);
    padding: clamp(2rem, 5vw, 4rem);
    text-align: center;
}

#about-section h1 {
    font-size: clamp(2rem, 4vw, 3rem); 
    margin: 0;
    color: var(--about-section-text-color);
}

#about-section h2 {
    color: var(--about-section-text-color);
    font-size: clamp(1rem, 2vw, 1.5rem); 
    margin-bottom: 1.5rem;
    padding: 0.5rem 1rem;
    display: inline-block;
    text-align: justify;
    line-height: 1.6;
    max-width: 1000px;
    margin: auto;
    font-weight: normal; /* Make font weight normal */
}

#about-section p {
    color: var(--about-section-text-color);
    font-size: clamp(0.875rem, 2vw, 1.25rem);
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
}

/* Section 2 */
#section-2 {
    background: linear-gradient(to top, rgba(65, 28, 28, 0.9), rgba(90, 40, 41, 0.9)), var(--about-section-bg-color);
    padding: clamp(2rem, 5vw, 4rem);
    text-align: center;
}

#section-2 h1 {
    color: var(--text-color);
    font-size: clamp(2rem, 4vw, 3rem);
    margin: 0;
}

#section-2 h2 {
    color: var (--text-color);
    font-size: clamp(1rem, 2vw, 1.5rem);
    margin: 0 auto;
    font-weight: normal;
    width: 70%;
}

/* Section 3 */
#section-3 {
    background: linear-gradient(to top, rgba(65, 28, 28, 0.9), rgba(90, 40, 41, 0.9)), var(--about-section-bg-color);
    padding: clamp(2rem, 5vw, 4rem);
    text-align: center;
    color: var(--text-color);
}

#section-3 h2 {
    font-size: clamp(2rem, 5vw, 3rem);
    margin-bottom: 2rem;
    color: var(--secondary-color);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}

#section-3 .contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}

#section-3 .contact-image img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 8px 20px var(--contact-shadow-color);
    transition-property: transform, box-shadow;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

#section-3 .contact-image img:hover {
    transform: scale(1.1);
    box-shadow: 0px 12px 30px var(--contact-shadow-hover-color);
}

#section-3 .contact-details {
    font-size: clamp(1rem, 2.5vw, 1.25rem);
    line-height: 1.5;
    max-width: 600px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    text-align: center;
}

#section-3 .contact-details a {
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: bold;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    transition-property: color, border-bottom;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

#section-3 .contact-details a:hover {
    color: var(--footer-hover-color);
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: var(--footer-hover-color);
}

#section-3 .contact-details p {
    margin-bottom: 0.5rem;
    font-size: clamp(1.1rem, 2.5vw, 1.3rem);
    color: #f3e8dd;
}


/* Grid Layout */
.grid {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping for smaller screens */
    justify-content: center;
    gap: clamp(1rem, 3vw, 3rem); /* Responsive gap between boxes */
    padding-top: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    max-width: 1200px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
}

/* Box Styles */
.box {
    background-color: var(--primary-color);
    color: var(--text-color);
    border-radius: 50%; /* Make it circular */
    width: 400px; /* Increase width */
    height: 400px; /* Increase height */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    transition-property: transform, box-shadow;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    box-shadow: 0px 2px 10px var(--box-shadow-color); /* Reduce shadow */
}

.box:hover {
    transform: translateY(-3px); /* Reduce lift effect */
    box-shadow: 0px 4px 20px var(--box-shadow-color); /* Reduce shadow */
    cursor: pointer;
}

.box-image {
    width: 100%;
    height: 100%;
    border-radius: 50%; /* Keep image circular */
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease; /* Simplify transition */
}

.box-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease; /* Simplify transition */
}

.box:hover .box-image img {
    transform: scale(1.05); /* Reduce zoom effect */
}

.box-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1; /* Make content visible by default */
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease; /* Smooth transition */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
    border-radius: 50%; /* Keep content circular */
}

.box-title {
    font-size: clamp(1rem, 2.5vw, 1.5rem); /* Adjust font size */
    color: var(--text-color);
    margin-bottom: 0.5rem;
}

/* Box Description */
.box-description {
    font-size: clamp(0.875rem, 2vw, 1.25rem); /* Adjust font size */
    color: var(--secondary-color);
    line-height: 1.4;
    margin: 0;
    text-align: center;
}


@media (max-width: 768px) {
    .box {
        width: 400px;
        height: 400px;
    }
    .box-image {
        width: 400px; /* Ensure width is equal to height */
        height: 400px; /* Ensure height is equal to width */
        border-radius: 100%; /* Make it circular */
        flex: 0 0 auto; /* Prevent flex-grow and flex-shrink */
        max-width: none; /* Remove max-width */
    }

    .box-image img {
        width: 400px; /* Ensure width is equal to height */
        height: 400px; 
        object-fit: cover;
    }

    .box-title {
        font-size: 1.5rem;
    }

    .box-description {
        font-size: 1rem;
    }
}

/* Fade-in Animation */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

/* New class for animating elements within sections */
.section-element {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.section-element.visible {
    opacity: 1;
    transform: translateY(0);
}

/*---------------------
  4. Menu Section
----------------------*/
#menu-section {
    
    background: linear-gradient(to bottom, rgba(65, 28, 28, 0.9), rgba(90, 40, 41, 0.9)), var(--about-section-bg-color);
    padding: clamp(2rem, 5vw, 4rem);
    text-align: center;
}

#menu-section h2 {
    color: var(--text-color);
    text-align: center;
    font-size: clamp(1.8rem, 4vw, 2.5rem);
    margin-bottom: 3rem;
    position: relative;
    padding-bottom: 1rem;
}

#menu-section h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 3px;
    background-color: var(--text-color);
}

.menu-grid {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 250px), 1fr)); */
    /* gap: clamp(1rem, 3vw, 2rem); */
    padding-top: 0;
    padding-right: clamp(1rem, 3vw, 2rem);
    padding-bottom: 0;
    padding-left: clamp(1rem, 3vw, 2rem);
    max-width: 1200px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
}

.menu-item {
    background-color: var(--secondary-color);
    color: var(--hover-text-color);
    padding-top: clamp(1.5rem, 4vw, 2rem);
    padding-right: clamp(1.5rem, 4vw, 2rem);
    padding-bottom: clamp(1.5rem, 4vw, 2rem);
    padding-left: clamp(1.5rem, 4vw, 2rem);
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 8px 30px var(--carousel-shadow-color);
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.menu-item:hover {
    transform: translateY(-5px);
}

.budget-meals,
.special-meals {
    width: 60%;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    color: var(--text-color);
}

.budget-meals ul,
.special-meals ul {
    font-size: clamp(1rem, 2.5vw, 1.2rem);
    list-style-type: none;
    color: var(--text-color);
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.budget-meals li,
.special-meals li {
    display: flex;
    justify-content: space-between; /* Align items to left and right */
    font-family: Arial, sans-serif;
    padding-top: 5px;
    padding-right: 0;
    padding-bottom: 5px;
    padding-left: 0; /* Add spacing between items */
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: lightgray; /* Optional separator line */
    transition-property: background-color, color, padding; /* Add smooth transition */
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.budget-meals li:hover,
.special-meals li:hover {
    background-color: var(--text-color); /* Highlight background */
    color: var(--hover-text-color); /* Change text color */
    cursor: pointer;
    padding-left: 2%; /* Add padding effect */
    padding-right: 2%;
}


.item {
    flex: 1; /* Take up available space */
    text-align: left; /* Align item name to the left */
}

.price {
    text-align: right; /* Align price to the right */
    white-space: nowrap; /* Prevent price from wrapping */
}

/*---------------------
  5. Footer
----------------------*/
footer {
    background-color: var(--footer-background-color);
    color: var(--text-color);
    padding: clamp(1.5rem, 4vw, 2rem);
    margin-top: 0;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-menu-items {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: clamp(1rem, 3vw, 2rem);
    margin: 0;
    padding: 0;
}

.footer-menu-item a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: clamp(0.875rem, 2vw, 1rem);
}

.footer-menu-item a:hover {
    color: var(--footer-hover-color);
}

#back-to-top {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: var(--text-color);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: none;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px var(--box-shadow-color);
    cursor: pointer;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

#back-to-top.active {
    display: flex;
}

#back-to-top:hover {
    transform: translateY(-5px);
}

/*---------------------
  6. Media Queries
----------------------*/
@media (max-width: 768px) {
    /* Hamburger Menu */
    #navbar.full {
        display: flex;
        align-items: flex-start;
        height: 15vh;
    }


    #navbar .brand-logo {
        margin-left: 1rem;
    }

    #navbar.full .brand-logo h1 {
        font-size: clamp(2rem, 4vw, 3rem);
    }

    .hamburger-menu {
        display: flex;
    }

    .main-content {
        margin-top: 0;
    }

    .carousel {
        top: 0;
        margin-top: 15vh;
        height: 60vh;
        display: flex;
        justify-content: center;
    }

    .carousel-slides.active img {
        width: 1080px; /* or any specific width */
        height: 720px; /* or any specific height */
        object-fit: cover;
    }
    
    .carousel-controls {
        width: 40%;
    } 

    nav .navbar-menu {
        position: absolute;
        top: 0;
        right: -100%;
        height: 100vh;
        width: 100%;
        background-color: rgba(90, 40, 41, 0.98);
        transition-property: right;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav .navbar-menu.active {
        right: 0;
    }

    .navbar-menu-items {
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        padding-top: 2rem;
        padding-right: 2rem;
        padding-bottom: 2rem;
        padding-left: 2rem;
    }

    .budget-meals,
    .special-meals
    {
        width: 80%;
    }

    /* Hamburger Animation */
    .hamburger-menu.active span:first-child {
        transform: rotate(45deg);
        top: 0;
    }

    .hamburger-menu.active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger-menu.active span:last-child {
        transform: rotate(-45deg);
        top: 0;
    }

        /* Box Hover and Active Styles */
    .box:hover,
    .box:active {
        transform: translateY(-10px); /* Subtle lift effect */
        box-shadow: 0px 12px 40px var(--box-shadow-hover-color); /* Enhanced shadow */
        cursor: pointer;
    }

    .box:hover .box-image img,
    .box:active .box-image img {
        transform: scale(1.1); /* Zoom-in effect on image */
    }

    .box:hover .box-title::after,
    .box:active .box-title::after {
        width: 80px; /* Extend underline on hover or touch */
    }

    .footer-content {
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }

    .footer-menu-items {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .menu-grid {
        grid-template-columns: 1fr;
    }

    .carousel-slides img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .box {
        width: 200px;
        height: 200px;
    }
    .box-image {
        width: 200px; 
        height: 200px; 
        border-radius: 100%; 
        flex: 0 0 auto; 
        max-width: none; 
    }

    .box-image img {
        width: 200px;
        height: 200px; 
        object-fit: cover;
    }
}